<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<p>
    {% for item in cart_items %}
        <p>{{ item.product.product_name }}</p>
        <p>{{ item.product.price }}</p>
    {% endfor %}
    <p>Total Price: {{ cart.total_price }}</p>
    <p>Total Items: {{ cart.total_items }}</p>
    <p><a href="/">Home Page</a></p>
</body>
</html>