{% extends 'base.html' %}

{% block content %}
<body>
    <br>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" name="username"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" name="password"><br><br>
        <button class="btn btn-secondary" type="submit" value="login">Login</button>
    </form>
    <br>
    <h3>new user?</h3>
    <a href="/auth/register_user/">Register</a>
</body>
</html>

{% endblock %}