{% extends 'base.html' %}

{% block content %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head> -->
<!-- <body> -->
    <br>
    <div class="row mx-auto">
    {% for product in products %}
    
        <div class="col-sm-2">
          <div class="card w-225 mb-4">
            <img src="{{ product.image.url }}" class="card-img-top" style="height: 225px;">
            <div class="card-body">
              <h5 class="card-title">{{ product.product_name }}</h5>
              <p class="card-text">{{ product.description }}</p>
              <p class="card-text">Rs. {{ product.price }}</p>
              <!-- <a href="#" class="btn btn-primary">Add To Cart</a> -->
              <!-- <form action="/" method="POST">
                {% csrf_token %}
                <input hidden type="text" name='product' value='{{ product.id }}'>
                <button type="submit" class="btn btn-primary">Add To Cart</button>
            </form> -->
              <form action="/" method="POST">
                {% csrf_token %}
                <input hidden type="text" name='product' value='{{ product.id }}'>
                <button type="submit" class="btn btn-primary">Add To Cart</button>
            </form>
            </div>
          </div>
        </div>
    
    <br>
        <!-- <img src="{{ product.image.url }}">
        <p><a href="{% url 'details' product.id %}">{{ product.product_name }}</a></p>
        <p>category: {{ product.category }}</p> -->
        <!-- <p>description: {{ product.description }}</p> -->
        <!-- <p>price: {{ product.price }}</p> -->
        
        <!-- <form action="/" method="POST"> -->
            <!-- {% csrf_token %} -->
            <!-- <input hidden type="text" name='product' value='{{ product.id }}'> -->
            <!-- <button type="submit">Add To Cart</button> -->
        <!-- </form> -->
        <!-- <button type="submit">Add to Cart</button> -->
        <!-- <p>stock left: {{ product.stock }}</p> -->
        <!-- <br> -->
    {% endfor %}
</div>
    <!-- <p><a href="/cart">Cart</a></p> -->
<!-- </body> -->
</html>

{% endblock %}